.authorIcon{
    border-radius: 50%;
    width: 42px;
    height: 42px;
    object-fit: cover;
    margin-right: 8px;
}

.authorDateWrapper{
    position: relative;
    top: -2px;
}

.postAuthorName{
    margin-bottom: 0px;
    font-weight: bold;
}

.postDate{
    margin-bottom: 0px;
}

.authorDate{
    display: inline-flex;
}