.comment{
    margin-top: 12px;
}

.commentHeader{
    justify-content: space-between;
    display: flex;
}

.deleteButton{
    font-size: 14px;
    color: grey;
}

.deleteButton:hover{
    text-decoration: none;
    color: grey;
    text-shadow: grey 0 0 1px;
    cursor: pointer;
}