.changePassword{
    width: min(260px, 96%);
    margin: auto;
}

.changePassword input{
    width: 100%;
}

.changePasswordButtonPanel
{
    display: flex;
    margin-top: 12px;
}

.changePassword button:first-child
{
    margin-right: 12px;
}